<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /its/

    # Redirect assets from root to public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(assets|css|js|images|vendor)/(.*)$ public/$1/$2 [L,NC]

    # Rewrite all other requests to Laravel
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
